/*Global stuff*/
body{
    background-color: #333;
    color: #aaa;
    font-family: sans-serif;
    line-height: 1.6;

    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 2.5rem;
}

hr{
    width: 30%;

    border: 2px;
    border-style: solid;
    border-color: #aaa;

    margin: 0em;
}

ul{
    list-style-type: none;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

ul#plainlist, ul#linkbar, ul#galleryExpose{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    color: #ccc;
}

a:visited{
    color: #888;
}

/* Header stuff */
h1{
    margin: 0;
}

h1 > a{
    font-family: sans-serif;
    font-weight: bold;
    font-size: .6em;
    text-decoration: none;
}

h1 > a:visited{
    color: #ccc;
}

ul#linkbar{
    display: flex;
    flex-flow: row wrap;

    padding-bottom: .5em;
}

ul#linkbar > li{
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: 1em;

    font-family: monospace;
    font-style: italic;
    color: inherit;
}

/*Content stuff*/
#articleItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#articleTitleList{
    margin-bottom: 0em;
}

h2{
    color: #ccc;
    font-size: 150%;
    font-family: monospace;
    font-weight: bolder;

    margin-bottom: 0em;
}

h3, #articleSummary, #articleTags{
    font-size: smaller;
    font-family: monospace;

    margin-top: 0em;
    margin-bottom: 1em;

    font-weight: normal;
}

article > *{
    width: 60%;
}

/* Gallery stuff */
#galleryExpose{
    display: flex;
    flex-flow: row wrap;
}

#galleryYearPreview{
    width: 300px;

    margin: 0em;
    margin-right: 1em;
}

img#galleryPreview{
    width: 300px;
    margin-right: 1em;
}

img#galleryFullImage{
    width: 30%;
    min-width: 128px;
}

figure{
    margin: 0em;
    margin-top: 1em;
}

/*Footer stuff*/
footer > div{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-top: .5em;
}

#license{
    font-family: sans-serif;

    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

img#icon{
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
