/*Global stuff*/

body{
    background-color: #333333;
    color: #aaaaaa;
    font-family: sans-serif;
}

hr{
    width: 30%;

    border: 2px;
    border-style: solid;
    border-color: #aaaaaa;

    margin: 0em;
}

#main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li:before{
  content: "-";
  padding-right: .5em;
}

/* Header stuff */

#titleCard > a{
    color: #cccccc;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}

#navbar{
    display: flex;
    flex-direction: row;
}

#navbar > a {
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 0em;

    font-family: monospace;
    font-style: italic;
    color: inherit;
}


/*Content stuff*/
#content{
    margin-top: 2em;
    margin-bottom: 2em;
}

#articleItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#articleTitleList{
    color: #cccccc;
}

#articleTitleList:visited{
    color: #888888;
}

#articleTitlePage{
    color: #cccccc;
    font-size: 150%;
    font-family: monospace;
    font-weight: bolder;

    margin-top: 0em;
}

#articleContent{
    width: 60%;
}

#articleTags{
    font-size: smaller;
    font-family: monospace;

    margin-top: 3em;
}


/* Gallery stuff */

#galleryExpose{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

#galleryYearList{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

#galleryFullImage{
    width: 30%;

    min-width: 300px;
    min-height: 300px;
}

#galleryYearTitle{
    color: #cccccc;
    font-size: 150%;
    font-family: monospace;
    font-weight: bolder;

    margin-bottom: 1em;
}

#galleryYearPreview{
    margin: 1em;
}

#galleryYearPreview *{
    width: 300px;
}

#galleryPreview{
    width: 300px;

    margin: 1em;
}


/*Footer stuff*/

#bottombar{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-top: .5em;
}

#license{
    font-family: sans-serif;

    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

img#icon{
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

#icon{
    width: 32px;
    height: 32px;

}
