/*Global stuff*/
body{
    background-color: #333;
    color: #aaa;
    font-family: sans-serif;
}

hr{
    width: 30%;

    border: 2px;
    border-style: solid;
    border-color: #aaa;

    margin: 0em;
}

body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li:before{
    content: "-";
    padding-right: .5em;
}

a{
    color: #ccc;
}

a:visited{
    color: #888;
}


/* Header stuff */
h1{
    margin: 0;
}

h1 > a{
    font-family: sans-serif;
    font-weight: bold;
    font-size: .6em;
    text-decoration: none;
}

h1 > a:visited{
    color: #ccc;
}

nav{
    display: flex;
    flex-direction: row;
}

nav > a{
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 0em;

    font-family: monospace;
    font-style: italic;
    color: inherit;
}


/*Content stuff*/
main{
    margin-top: 2em;
    margin-bottom: 2em;
}

#articleItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#articleTitleList{
    margin-bottom: 0em;
}

#articleTitlePage{
    color: #ccc;
    font-size: 150%;
    font-family: monospace;
    font-weight: bolder;

    margin-top: 0em;
    margin-bottom: 0em;
}

#articleContent{
    width: 60%;
}

#articleTags{
    font-size: smaller;
    font-family: monospace;

    margin-top: 0em;
    margin-bottom: 1em;
}


/* Gallery stuff */
#galleryExpose{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

#galleryYearList{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

#galleryFullImage{
    width: 30%;

    min-width: 300px;
}

#galleryYearTitle{
    color: #ccc;
    font-size: 150%;
    font-family: monospace;
    font-weight: bolder;

    margin-bottom: 1em;
}

#galleryYearPreview{
    margin: 1em;
}

#galleryYearPreview *{
    width: 300px;
}

#galleryPreview{
    width: 300px;

    margin: .5em;
}


/*Footer stuff*/
footer{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-top: .5em;
}

#license{
    font-family: sans-serif;

    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

img#icon{
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

#icon{
    width: 32px;
    height: 32px;
}
