{% extends "base.html" %}

{% set galleryPath = "https://static.oddworlds.org/gallery/" %}
{% set previewPath = "https://static.oddworlds.org/previews/" %}

{% block content %}
{{ super() }}
    <h2>{{ article.title }}</h2>

    <ul id="galleryExpose">
        {% for a in articles %}
        {% if article.date.year == 2015 %}
        {% if a.category == "gallery" and a.date.year <= article.date.year and a.template == "galleryItem" %}
        <li>
            <figure>
            <a href="{{ a.slug }}.html">
                <img src="{{ previewPath + a.image }}" id="galleryPreview">
            </a>
            </figure>
        </li>
        {% endif %}

        {% else %}
        {% if a.category == "gallery" and a.date.year == article.date.year and a.template == "galleryItem" %}
        <li>
            <figure>
            <a href="{{ a.slug }}.html">
                <img src="{{ previewPath + a.image }}" id="galleryPreview">
            </a>
            </figure>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
