{% extends "base.html" %}

{% set basePath = "https://static.oddworlds.org/gallery/" %}

{% block content %}
{{ super() }}
    <div id="galleryYearTitle">
        {{ article.title }}
    </div>

    <div id="galleryExpose">
        {# TODO: get rid of empty space #}
        {# TODO: get articles in order #}
        {% for a in articles %}
            {% if article.date.year == 2015 %}
                {% if a.category == "theObservatory" and a.date.year <= article.date.year %}
                    <div>
                        <a href="{{ a.url }}">
                            <img src="{{ basePath + a.image }}" id="galleryPreview">
                        </a>
                    </div>
                {% endif %}

            {% else %}
                {% if a.category == "theObservatory" and a.date.year == article.date.year %}
                    <div>
                        <a href="{{ a.url }}">
                            <img src="{{ basePath + a.image }}" id="galleryPreview">
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
