{% extends "base.html" %}

{% set galleryPath = "https://static.oddworlds.org/gallery/" %}
{% set previewPath = "https://static.oddworlds.org/previews/" %}

{% block content %}
{{ super() }}
    <ul id="galleryExpose">
        {% for a in articles %}
        {% if a.template == "galleryYear" %}
        <li id="galleryYearPreview">
            <h2>{{ a.title }}</h2>
            
            <figure>
                <a href="{{ a.slug }}.html">
                    <img src="{{ previewPath + a.image }}" id="galleryPreview">
                </a>

                <figcaption>
                    {{ a.content }}
                </figcaption>
            </figure>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
