{% extends "base.html" %}

{% set basePath = "https://static.oddworlds.org/gallery/" %}

{% block content %}
{{ super() }}
    <div id="galleryYearList">
        {% for a in articles %}
        {% if a.template == "galleryYear" %}
        <div id="galleryYearPreview">
            <p id="galleryYearTitle">{{ a.title }}</p>

            <a href="{{ a.slug }}.html">
                <img src="{{ basePath + a.image }}" id="galleryPreview">
            </a>

            <p>{{ a.content }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
