{% extends "base.html" %}

{% block content %}
{{ super() }}
<ul>
    {% for article in articles %}
        {% if article.status != "draft" and article.category == "thoughts" %}
        <li id="articleItem">
            <div>
                <p id="articleTitleList"><a href="thoughts/{{article.slug}}.html">{{article.title}}</a></p>
                <p id="articleTags">#{{ article.tags[0] }}</p>
            </div>
            <p>{{article.date.strftime("%d %b %Y")}}</p>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
